/*Color Palette*/
:root{
    --deep-bond-green: #042504;
    --blank-canvas: #FFFFFF;
    --compassion-pink: #FFD9DA;
    --hearty-green: #8Abc9F;
    --inspiration-blue: #3C69DC;
    --pencil-gray:#333333;
}
body{
    margin:0; 
    padding:0;
    background-color: var(--blank-canvas)
}

/*Text*/
h1,h2,h3,h4,h5,h6{
    font-family:'Operetta-8', serif;
    font-weight: 700;
    font-style: normal;
}

/*Website Elements*/
p, li{
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}
.header{
    display: inline-flex;
    padding: 1em;
}
.logo{
    padding: 1.5em;
}
.navigation{
    float: right;
}
.nav-links{
    margin-top: 2em;
    padding: 1em;
    font-size: 1.2em;
}

.nav-links li{
    list-style-type: none;
    padding-right: 1em;
    display:inline;
    align-items: center;
}

