/*Color Palette*/
:root{
    --deep-bond-green: #042504;
    --blank-canvas: #FFFFFF;
    --compassion-pink: #FFD9DA;
    --hearty-green: #8Abc9F;
    --inspiration-blue: #3C69DC;
    --pencil-gray:#333333;
}
/*Fonts*/

/*Text*/
h1,h2,h3,h4,h5,h6{
    font-family:'Operetta-8', serif;
    font-weight: 700;
    font-style: normal;
}
p,li{
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}